<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nop.Plugin.Payments.ZonaVirtual.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Nop.Plugin.Payments.ZonaVirtual.Properties.Settings>
            <setting name="Nop_Plugin_Payments_ZonaVirtual_ZPagosVerificar_Service"
                serializeAs="String">
                <value>https://www.zonapagos.com/ws_verificar_pagos/Service.asmx</value>
            </setting>
            <setting name="Nop_Plugin_Payments_ZonaVirtual_ZPagos_ZPagos"
                serializeAs="String">
                <value>https://www.zonapagos.com/ws_inicio_pagov2/Zpagos.asmx</value>
            </setting>
            <setting name="Nop_Plugin_Payments_ZonaVirtual_ZPagosDemo_ZPagos"
                serializeAs="String">
                <value>https://www.zonapagosdemo.com/ws_inicio_pagov2/Zpagos.asmx</value>
            </setting>
            <setting name="Nop_Plugin_Payments_ZonaVirtual_ZPagosVerificarDemo_Service"
                serializeAs="String">
                <value>https://www.zonapagosdemo.com/ws_verificar_pagos/Service.asmx</value>
            </setting>
        </Nop.Plugin.Payments.ZonaVirtual.Properties.Settings>
    </applicationSettings>
</configuration>