@{
    Layout = "";
}
@using Nop.Web.Framework;
Zona Virtual enviara tu pedido a su sitio oficial
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <b>@T("Plugins.Payments.ZonaVirtual.Fields.RedirectionTip")</b>
        </td>
    </tr>
</table>
