@{
    Layout = "";
}
@using Nop.Web.Framework;

<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            Zona Virtual Payment Method redirect you buy to www.zonavirual.com to complete the process
        </td>
    </tr>
</table>
